.profile {
  &__photo {
    border-radius: 50%;
    height: 80px;
    overflow: hidden;
    width: 80px;

    @media (max-width: 375px) {
      flex-basis: 95px;
    }

    img {
      object-fit: cover;
    }
  }
}
