---

---

<header class="header">
  <div class="container">
    <h1 class="header__logo">&#10094; Lucho Web &#8725;&#10095;</h1>
  </div>
</header>

<style lang="scss">
  .header {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;

    &__logo {
      font-size: 1.6rem;
      text-align: center;
    }
  }
</style>