:root {
  --color-primary: #2f343a;
  --color-purple: #7106ff;
  --color-border: #e1e2e2;
  --color-linkedin: #2d64bc;
  --fw-normal: 300;
  --fw-bold: 700;
}

body {
  background-color: #f8f9fb;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-normal);
  line-height: 1.2em;
  padding-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}

.container {
  max-width: 900px;
}

.box-icon {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  height: 40px;
  line-height: normal;
  padding: 0.5rem;
  text-align: center;
  width: 40px;

  i {
    color: #78828a;
    font-size: 20px;
  }
}

.btn-linkedin {
  background-color: var(--color-linkedin) !important;
  border-color: var(--color-linkedin) !important;
  color: white;
}

.simple-card {
  border: 1px solid var(--color-border);
  border-radius: .5rem;
  font-weight: var(--fw-bold);
  line-height: 1em;
  padding: .7rem;
}